{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'story6.css' static %}">
    <title>hello</title>
</head>
<body class= lala>
  <div class = hello>
    <h2>Halo, apa kabar?</h2>
  </div>
  <div class="card mx-auto text-center" style="width: 18rem;" id = kartu>
    <div class="card-body">
      <form method="POST" class= status>{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" id ="submit" class="btn text-light" style="background-color: #FBC797; min-width: 50%; font-size: 85%;" >Submit</button>
      </form>
    </div>
  </div>

    <div class = maupost>
        {% if status %}
    <h3 class = lolo>Posted Status</h3>
    {% for status in status %}
    <h4>{{ status.status }}</h4>
    <span>{{ status.waktu }}</span>
    {% endfor %}
    {% else %}
    <h4>There's No Status Yet</h4>
    {% endif %}
    </div>
</body>
</html>