@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
.lala{
    background-color: #f5f5dc;
    font-family: Montserrat;
    text-align: center;
}
.hello{
    font-size: 180%;
    margin-top: 3%;
}
#kartu{
    margin-top: 3%;
} 
#submit{
    text-align: center;
}
.card{
    background-color: white;
}
.maupost{
    margin-top: 3%;
}
